html {
    font-size: 15px;
    background-color: #111218;
}

body {
    
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color: #6c7279;;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

.display {
    position: relative;
    display: flex;
    flex-direction: row;
}
.display__img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
.display__right{
    flex: 1;
}
.display__left {
    flex: 1;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}
 
.main__photo {
    background-color: #111218 center no-repeat;
    
    width: 100%;
    height: 150%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.header {
    z-index: 1;
    text-align: right;
    padding: 15px;

}

.nav {
    margin-top: 25px;
    margin-bottom: 150px;
    text-align: justify;
    display: flex;
}

.nav__link {
    position: relative;
    text-decoration: none;
    color: #f5f3df;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 40px;
}   

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:after {

    content: "";
    
    width: 0;
    height: 2px;
    background-color:#918c8b;

    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 1;
    
    transition: width .2s linear;
}

.nav__link:hover:after {
    
    width: 100%;
}

.nav__link:hover {
    color: #f6f8e5;
    text-shadow: rgb(63, 248, 17) 2px 0 10px;
}


.intro {
    width: 100%;
    height: auto;
    z-index: 1;
    
    text-align: left;
}

.intro__title {
    font-weight: 700;
    color: aliceblue;
    line-height: 1;
    font-size: 43px;
    margin-bottom: 60px;
}

.intro__subtitle {
    font-size: 25px;
    font-weight: 500;
    color: #ecdf51;
    margin-bottom: 60px;
}


.intro__link {
    display: flex;
    margin: 0 auto;
    max-width: 300px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;

    justify-content: center;
    text-decoration: none;
    color: #153515;
    background-color: #f76b4b;
    border: 2px #f76b4b solid;
    padding: 10px 10px;
    border-radius: 20px;
    transition: background-color, .2s linear,color .2s linear, border-color .2s linear;
}

.intro__link:hover {
    color: #fbb3a3;
    background-color: #153a25;
    border-color: #153a25;
}




.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0 1rem;

    overflow: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
}
.modal.show {
    display: flex;
}



.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin:auto;
    background-color: #fff;
    position: relative;

    transform: rotateX(90deg);
    transition: transform .2s linear;
}
.modal__dialog--sm {
    max-width: 900px;
}

.modal__close {
    position: absolute;
    top: 0.9rem;
    right: 0.9rem;
    z-index: 1;

    background: none;
    border: 0;
    cursor: pointer;

    width: 39px;
    height: 39px;
    padding: 0;

    transition: transform linear .2s;
}
.modal__close:hover {
    transform: rotate(90deg);
}

.modal__content {
    padding: 5rem 1rem;
}

.modal__title {
    margin-bottom: 3.6rem;

    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.modal__subtitle {
    text-transform: uppercase;
    font-size: 1.06rem;
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin-bottom: 40px;
}

.modal__text {
    font-size: 20px;
    color: #000000;
    line-height: 1.25;
    font-weight: 500;
    margin-bottom: 150px;
}

.contact {
    display: flex;
    border: 4mm ridge rgba(56, 220, 50, 0.6);
}

.contact__left {
    width: 47%;
    padding: 2rem;
}

.contact__right {
    width: 53%;
}

.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;

    font-size: .94rem;
    color: #111218;
    font-weight: 500;
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.contact__info-item:last-child {
    margin-bottom: 0;
}


.contact__info-icon {
    margin-right:.5rem;
    width: 20px;
}

.contact__list {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;

    font-size: .94rem;
    color: #111218;
    font-weight: 400;
}
.contact__img {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
}

.contact__prof {
    font-size: 18px;
    color: #111218;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}

.form__group {
    margin-bottom: 1.8rem;
}

.form__label {
    display: inline-block;
    margin-bottom: 0.6rem;
    font-size: .8rem;
    color: #111218;
    font-weight: 700;
}

.form__input,
.form__textarea {
    display: block;
    width: 100%;
    padding: 1.3rem 1.8rem;

    border: 1px solid fade(#707070, 30%);
    border-radius: 1.8rem;

    font-family: inherit;
    font-size: .8rem;
    line-height: 1.2;
    font-weight: 300;
    color: #111218;

    transition: border-color linear .2s;



}
.form__input:focus,
.form__textarea:focus{
    outline: none;

    border-color: rgb(110, 199, 241);
}
.form__input::placeholder,
.form__textarea::placeholder {
    outline: none;

    border-color: rgb(110, 199, 241);
}


.form__textarea {
    height: 200px;
    resize: none;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 1.7em;

    min-width: 170px;

    border: 1px solid #6c7279;
    border-radius: 1.8em;
    background: none;
    font-family: inherit;
    cursor: pointer;
    line-height: 1.1;
    font-size: 1.06rem;
    color: #111218;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s linear,
    color .2s linear, box-shadow .2s linear,
    border-color .2s linear;
    
}

.btn:hover {
    background-color: #111218;
    color: #fff;
    box-shadow: 2px 2px 10px fade(#000, 24%);
    border-color: #111218;
}

.btn:focus {
    outline: none;
}


@media (max-width: 1440px) {



    .nav__link {
        text-align: center;
    }
   
}

@media (max-width: 1280px) {
    .display__img {
        height: 100%;
        width: auto;
    }
}

@media (max-width: 1100px) {

   
    .display__left {
        flex: 0;
    }

    .container {
        min-height: 43vh;
    }

    .nav {
        margin-bottom: 150px;
    }

    .nav__link {
        font-size: 21px;
    }

    .intro__title {
        font-size: 42px;
        margin-bottom: 118px;
    }

    .intro__subtitle {
        font-size: 37px;
    }
}

@media (max-width: 960px) {
    
    .container {
        min-height: 20vh;
    }

    .intro__title {
        font-size: 42px;
        margin-bottom: 100px;
    }

    .intro__subtitle {
        font-size: 35px;
    }
}

@media (max-width: 830px) {

    .modal__title {
        font-size: 2rem;
    }

    .contact__info {
        font-size: 1rem;

    }
}

@media (max-width: 768px) {

    .header {
        height: 100%;
        
    }

    .container {
        min-height: 30vh;
    }

    .nav {
        margin-bottom: 40px;
        flex-wrap: wrap;
    }

    .nav__link {
        font-size: 15px;
    }

    .intro__title {
        font-size: 36px;
        margin-bottom: 45px;
    }

    .intro__subtitle {
        font-size: 27px;
        margin-bottom: 30px;
    }
}

@media (max-width: 630px) {
    .contact {
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: bisque;
    }
    
    .contact__left {
        width: 100%;
    }

    .contact__right {
        width: 0%;
    }

    .contact__img {
        display: none;
    }

    .contact__info-item {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 585px) {
    .container {
        min-height: 34vh;
    }

    .modal__subtitle {
        font-weight: 700;
    }

    .modal__text {
        font-weight: 600;
    }

    .nav__link {
        font-size: 16px;
        margin-bottom: 5px;
        flex-wrap: wrap;
        position: relative;
    }

    .intro__title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .intro__subtitle {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .modal__subtitle {
        font-weight: 700;
    }

    .modal__text {
        font-weight: 600;
    }
}


@media (max-width: 485px) {
    .nav__link {
        margin-right: 150px;
    }
}

@media (max-width: 386px) {
    .nav__link {
        margin-right: 150px;

    }
}

@media (max-width: 399px) {
    .modal__title {
        font-size: 1.5rem;
    }

    .modal__subtitle {
        font-size: 1rem;
    }

    .modal__text {
        font-size: 15px;
        margin-bottom: 40px;
    }


}




@media (max-width: 360px) {

    .container {
        min-height: 15vh;
    }

    .intro__title {
        font-size: 19px;
        margin-bottom: 50px;
    }

    .intro__subtitle {
        font-size: 19px;
    }
}
